<form align="center">
    <p> 
      <label> Enter Username:</label>
      <input type="text">
    </p>
    <p> 
      <label> Enter Password:</label>
      <input type="text">
    </p>
    <p> 
      <label> Enter Phone:</label>
      <input type="number">
    </p>
    <p> 
      <label> Enter Email:</label>
      <input type="text">
    </p>
    <p>
        If already registered <a [routerLink]="['/login']">click</a> to sign in 
    <button type="button">Registration</button>
    </p>    
</form>