ul{
    display: flex;
    background-color: beige;
}

li{
    margin: 20px;
    padding: 10px;
    background-color: cadetblue;
    color:blueviolet;
    border: 2px solid green;
    border-radius: 10px;
    list-style-type: none;
}